.card {
    background: white;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.15);
}

img {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}