.card {
  background: white;
  padding: 20px;
  margin: 15px auto;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background: #2c3e50;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #1a252f;
}

button.danger {
  background: #c0392b;
}

pre {
  text-align: left;
  background: #111;
  color: #0f0;
  padding: 15px;
  margin: 20px auto;
  width: 80%;
  border-radius: 8px;
}
/* Fondo oscuro */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

/* Caja modal */
.popup-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.popup-content button {
  margin-top: 10px;
  background: #2c3e50;
}
/* LOADER */
.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.spinner {
  border: 5px solid #eee;
  border-top: 5px solid #2c3e50;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}